@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 255, 255;
  --background-start-rgb: 165, 200, 250;
  --background-end-rgb: 255, 255, 255;
  --white: #ffffff;
  --background: #fcfcfc;
  --primary: #0d2031;
  --secondary: #daf0ff;
  --secondary-light: #eef8ff;
  --tertiary: #0094c6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--primary);
  background: var(--background);
}

input::placeholder,
textarea::placeholder {
  font-size: 14px;
}

input,
select,
textarea {
  font-size: 16px; /* Minimum size to prevent zoom */
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

/*remove arrows/spinners from input type number */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
